<ion-header>
  <ion-toolbar>
    <ion-title>Tareas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Crear tarea -->
  <ion-item>
    <ion-input
      [value]="newTask()"
      (ionInput)="newTask.set($event.detail.value || '')"
      placeholder="Nueva tarea">
    </ion-input>
  </ion-item>

  <!-- Categoría -->
  <ion-item>
    <ion-select
      [value]="selectedCategory()"
      (ionChange)="selectedCategory.set($event.detail.value)">

      <ion-select-option [value]="null">Sin categoría</ion-select-option>

      <ion-select-option *ngFor="let c of categoryService.categories()"
        [value]="c.id">
        {{ c.name }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="full" (click)="addTask()">
    Agregar
  </ion-button>

  <!-- Filtro -->
  <ion-item>
    <ion-select (ionChange)="setFilter($event.detail.value)">
      <ion-select-option [value]="null">Todas</ion-select-option>
      <ion-select-option *ngFor="let c of categoryService.categories()"
        [value]="c.id">
        {{ c.name }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Lista -->
  <ion-list>
    <ion-item *ngFor="let task of taskService.tasks()" class="task-item">

      <ion-checkbox
        slot="start"
        [checked]="task.completed"
        (ionChange)="taskService.toggle(task.id)">
      </ion-checkbox>

      <ion-label [class.completed]="task.completed">
        {{ task.title }}
      </ion-label>

      <ion-button color="danger" fill="clear"
        (click)="taskService.delete(task.id)">
        ✕
      </ion-button>

    </ion-item>
  </ion-list>

</ion-content>