<ion-header>
  <ion-toolbar>
    <ion-title>Categorías</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <ion-button expand="full" size="small" (click)="createCategory()">
        + Nueva categoría
      </ion-button>

      <ion-list>
        <ion-item *ngFor="let c of categoryService.categories()">
          <ion-label>{{ c.name }}</ion-label>

          <ion-button
            fill="clear"
            size="small"
            (click)="editCategory(c.id, c.name)">
            Editar
          </ion-button>

          <ion-button
            color="danger"
            fill="clear"
            size="small"
            (click)="deleteCategory(c.id)">
            Eliminar
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
